.hideit {
  display: none;
}
.option-container {
  margin-bottom: 5px;
}
.pe-auto {
  cursor: pointer;
}
label {
  cursor: pointer;
}
.bggreen {
  background-color: lightgreen;
}
.bgred {
  background-color: red;
}
