.hideit {
  display: none;
}
.option-container {
  margin-bottom: 5px;
}
.pe-auto {
  cursor: pointer;
}
.cursorclass {
  cursor: pointer;
}
.cursorclass:hover {
  background-color: lightgrey;
}

label {
  cursor: pointer;
}
.bggreen {
  background-color: lightgreen;
}
.bgred {
  background-color: red;
}
#qstoadd{
  width: 300px;
}
.btn-option {
  border: 2px solid black;
  transition: border-color 0.3s ease;
}

.btn-option.selected {
  border-color: blue;
}

.form-control{
  width: 200px;
  border: .5px solid rgba(0, 0, 0, 0.547);
}
